.header-nav {
  border-bottom: 2px solid #1e87f0;
}

.dashboard-title {
  color: #fff;
  font-size: 20px;
}

.dashbordScreens-title {
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
  text-underline-position: below;
}
